:root {
	--color-primary: #3b82f6;
	--color-primary-light-1: color-mix(in srgb, var(--color-primary) 85%, white);
	--color-primary-light-2: color-mix(in srgb, var(--color-primary) 10%, white);

	--color-surface: #ffffff;

	--color-text: #111827;
	--color-text-secondary: #6b7280;

	--color-border: #e5e7eb;

	--color-success: #10b981;
	--color-error: #ef4444;
	--color-error-light: color-mix(in srgb, var(--color-error) 5%, white);

	--font-caption-size: 12px;
	--font-caption-line: 1.4;

	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;

	--space-2: 2px;
	--space-4: 4px;
	--space-8: 8px;
	--space-12: 12px;
	--space-16: 16px;
	--space-24: 24px;
	--space-32: 32px;

	--shadow-sm: 0 2px 8px rgba(17, 24, 39, 0.1);
	--shadow-md: 0 4px 16px rgba(17, 24, 39, 0.12);
	--shadow-lg: 0 8px 24px rgba(17, 24, 39, 0.14);

	--container-margin: 64px;
	--container-max-width: 1140px;
	--container-width: min(var(--container-max-width), calc(100vw - 2 * var(--container-margin)));

	--header-height: 72px;

	--icon-checked: url("../../assets/checked.svg");
	--icon-close: url("../../assets/close.svg");
}

@media (max-width: 1024px) {
	:root {
		--container-margin: 32px;
		--container-max-width: 1024px;
	}
}

@media (max-width: 428px) {
	:root {
		--grid-gutter: 16px;
		--container-margin: 16px;
		--container-max-width: 428px;
	}
}
