.error {
	width: 400px;
	max-width: var(--container-width);
	border-radius: var(--radius-sm);
	border: 1px solid #EF4444;
	padding: var(--space-12) var(--space-16);
}

.error__content {
	margin-bottom: var(--space-16);
}

@media (max-width: 428px) {
	.error {
		width: 360px;
	}
}
