.error {
	right: var(--grid-container-offset);
	width: calc(var(--grid-container-width) * 4 / var(--grid-columns));
	max-width: var(--grid-container-width);
	border-radius: var(--radius-sm);
	border: 1px solid #EF4444;
	padding: var(--space-12) var(--space-16);
}

.error__content {
	margin-bottom: var(--space-16);
}
