.main {
}

.main__content {
	height: 100%;
	display: flex;
	justify-content: center;
}

@media (max-width: 1200px) {
	.main {
		bottom: 0;
	}

	.main__content {
		padding: var(--space-48) 0;
	}
}

@media (max-width: 450px) {
	.main__content {
		padding: var(--space-24) 0;
	}
}
