.modal {
	position: fixed;
	top: 0;
	left: 0;
    display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modal_active {
    display: block;
}

.modal__content {
    opacity: 1;
	max-width: var(--container-width);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: var(--radius-sm);
	background-color: var(--color-surface);
	box-shadow: var(--shadow-lg);
}
