.quiz-result {
	margin-bottom: 64px;
}

.quiz-result__title {
	margin-bottom: var(--space-8);
}

.quiz-result__details {
	margin-bottom: var(--space-8);
}

.quiz-result__summary {
	margin-bottom: var(--space-24);
}

.quiz-result__buttons {
	display: flex;
	gap: var(--space-8);
	flex-wrap: wrap;
	margin-top: 150px;
	flex-direction: column;
}

@media (min-width: 451px) {
	.quiz-result {
		padding: 20px;
		margin-bottom: calc(100vh / 2 - 120px);
		border-radius: var(--radius-sm);
		box-shadow: var(--shadow-lg);
	}

	.quiz-result__buttons {
		margin-top: 0;
		flex-direction: row;
	}

	.quiz-result__buttons .button {
		flex: initial;
	}
}

@media (min-width: 1201px) {
	.quiz-result {
		margin-top: calc(100vh / 4);
		margin-bottom: calc(100vh / 2 - 344px);
	}
}
