.quiz-result {
	margin-bottom: calc(100vh / 2 - 344px);
}

.quiz-result__title {
	margin-bottom: var(--space-8);
}

.quiz-result__details {
	margin-bottom: var(--space-8);
}

.quiz-result__summary {
	margin-bottom: var(--space-24);
}

.quiz-result__actions {
	display: flex;
	gap: var(--space-8);
	flex-wrap: wrap;
}

@media (max-width: 1000px) {
	.quiz-result {
		margin-bottom: 64px;
	}
	.quiz-result__actions {
		margin-top: 150px;
		flex-direction: column;
	}

	.quiz-result__actions .button {
		flex: 1;
	}
}
